/* Reset code  */
* {
    padding: 0;
    margin: auto;
}

/* Common styles  and Font family (Mulish) */
body {
    width: 1440px;
    border: 1px solid red;
    font-family: 'Mulish', sans-serif;
}

footer {
    font-family: 'Inter', sans-serif;
}

header,
main {
    width: 1170px;
    border: 1px solid red;
}

/* header section styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 0;
}

.header h3 {
    margin-left: 15px;
}

nav {
    margin-right: -40px;
}

.nav-title img {
    max-width: 100%;
    margin: -10px;
    margin: -12px;
    margin-right: 16px;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.nav-title span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-menu ul {
    display: flex;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    margin-right: 44px;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
#nav-mobile-menu{
    display: none;
}

/* banner section styles */
.banner {
    border: 1px solid red;

}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 82%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner-content {
    color: #FFF;
    text-align: center;

}

.banner-content h2 {
    padding: 100px 290px 25px 290px;
    font-size: 64px;
    font-weight: 800;
}

.banner-content p {
    width: 676px;
    padding: 0px 245px 60px 245px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Form Styles */
.form {
    display: flex;
    width: 70%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    align-items: center;
    gap: 24px;
}

.form input[type="text"],
select {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
}

.form-btn {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #FFF;
    background: #FF5400;
    font-size: 16px;
    font-weight: 700;

}

/* Popular tour section  styles*/
.popular-section {
    margin-top: 100px;
    border: 1px solid red;
}

.popular-tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.popular-tour-column {
    width: 50%;
}

.popular-tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    padding: 0px 0px 25px 0;
}

.popular-tour-description1 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 0px 25px 0;
    text-align: justify;
}

.popular-tour-description2 {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 0px 25px 0;
    text-align: justify;
}

.popular-tour-container ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style-position: inside;
    padding: 0px 30px 10px 10px;
    text-align: justify;
}

.popular-btn {
    color: #FFF;
    background: #FF5400;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    border: none;
    padding: 15px 35px;
}

.popular-img {
    width: 100%;
}

/* Destination section styles */
.destination-section {
    margin-top: 100px;
    border: 1px solid red;

}

.destination-content {
    text-align: center;

}

.destination-content h2 {
    padding: 0px 290px 25px 290px;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.destination-content p {
    width: 643px;
    padding: 0px 245px 60px 245px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.item-1 {
    grid-area: Maldives;
    width: 100%;
}

.item-2 {
    grid-area: Indonesia;
    width: 100%;
}

.item-3 {
    grid-area: Srilanka;
    width: 100%;
}

.item-4 {
    grid-area: NorthAmerica;
    width: 100%;
}

.item-5 {
    grid-area: Kashmir;
    width: 100%;
}

.item-6 {
    grid-area: Bangladesh;
    width: 100%;
}

.item-7 {
    grid-area: Bandarban;
    width: 100%;
}

.destination-image-grid {
    display: grid;
    grid-template-areas:
        'Maldives Maldives Maldives Indonesia Indonesia Indonesia'
        'Srilanka Srilanka NorthAmerica NorthAmerica NorthAmerica Kashmir'
        'Bangladesh Bangladesh Bandarban Bandarban Bandarban Bandarban';
    gap: 24px;

}

.destination-image-grid img {
    width: 100%;
    height: 300px;
    margin-bottom: -40px;
}

.destination-image-grid h2 {
    position: relative;
    top: -130px;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* Why-choose-us-section styles */
.why-choose-us-section {
    margin-top: 100px;
    border: 1px solid red;

}

.why-choose-us-content {
    text-align: center;

}

.why-choose-us-content h2 {
    padding: 0px 290px 25px 290px;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.why-choose-us-content p {
    width: 643px;
    padding: 0px 245px 60px 245px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin: 0px auto 20px auto;
}

.card {
    border: 1px solid red;
    width: 573px;
    padding: 30px 30px 30px 30px;
}

.card h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 20px 0;
}

.card p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

#card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

#card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* News letter section styles */
.newsletter-section {
    margin-top: 100px;
    border: 1px solid red;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;

}

#newsletter-column-id {
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-column {
    width: 50%;
}

.newsletter-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 10px 0px 10px 35px;
}

.newsletter-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 0px 25px 35px;
    margin-left: 0px;
    width: 350px;
}

.newsletter-column hr {
    width: 88%;
    margin-left: 35px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 10px;
}

.newsletter-img {
    width: 100%;
}

/* Form-1 Styles */
.form-1 {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 16px;
}

.form-1 input[type="text"],
input[type="email"] {
    width: 84%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    margin-left: 15px;
    margin-bottom: 20px;
}

.form-1-btn {
    width: 89%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #FFF;
    background: #FF5400;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;

}

.newsletter-offer {
    transform: rotate(-19.628deg);
    background: #FF5400;
    color: #FFF;
    text-align: center;
    border-radius: 16px;
    width: 300px;
    padding: 20px 0px;
    position: relative;
    top: -160px;
    left: 425px;

}

.newsletter-offer h3 {
    font-size: 24px;
    font-weight: 400;
}

.newsletter-offer h2 {
    font-size: 32px;
    font-weight: 800;
}

/* Testimonial section  */
.testimonial-section {
    padding: 100px 0px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 10px;
}

.testimonial-section h2 {
    color: #FFF;
    background-color: #FF5400;
    width: 50%;
    border-radius: 0px 50px 0px 50px;
    font-size: 32px;
    font-weight: 800;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.testimonial-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #FF5400;
    margin-bottom: 20px;

}

.rating {
    margin-bottom: 20px;

}

.testimonial-section p {
    padding: 0px 335px 30px 335px;
    color: #5A5A5D;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
}

.testimonial-section h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    text-decoration: overline;
}


/* Footer section styles */
footer {
    margin-top: 100px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 50px 0px;
}

.footer-title img {
    max-width: 100%;
    margin: -10px;
    margin: -12px;
    margin-right: 16px;
}

.footer-title {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 20px;
}

.footer-title span {
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;

}

footer p {
    padding: 0px 335px 30px 335px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Social media icon styles */
.social-media a {
    margin-right: 30px;
    font-size: 20px;
    color: #131318;
}

footer hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    background: rgba(19, 19, 24, 0.10);
}

footer h2 {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}



/* Responsive styles for mobile device (600px and down)*/

@media only screen and (max-width: 600px) {
    header {
    width: 500px;
 
}
.header{
    
    margin: -10px 0px -10px 0px;
}

nav {
    display: none;
}
#nav-mobile-menu{
    display: flex;
    margin-left: 200px;
    font-size: 25px;

}

.nav-title img {
    max-width: 20%;
    margin-right: 5px;
}

.nav-title, .nav-title span {
    font-size: 30px;
}

    .banner {
        width: 36%;
        height: 500px;
    }

    .banner-content h2 {
        padding: 32px 65px 10px 65px;
        font-size: 35px;
        font-weight: 800;
    }

    .banner-content p {
        width: 360px;
        padding: 0px 15px 25px 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .form input[type="text"] {
        width: 90%;
    }

    .form select,
    .form-btn {
        width: 100%;
    }

    .popular-section {
        margin-top: 20px;
    }

    .popular-tour-container {
        display: flex;
        flex-direction: column;
    }

    .popular-tour-column {
        width: 45%;
    }

    .destination-section {
        margin-top: 20px;
    }

    .destination-content h2 {
        font-size: 35px;

    }

    .destination-content p {
        width: 480px;
        padding-bottom: 30px;
    }

    .destination-image-grid {
        display: grid;
        grid-template-areas:
            'Maldives'
            'Indonesia'
            'Srilanka'
            'NorthAmerica'
            'Kashmir'
            'Bangladesh'
            'Bandarban';
        gap: 16px;
        width: 45%;
    }

    .why-choose-us-section {
        margin-top: 20px;
    }

    .why-choose-us-content h2 {
        font-size: 35px;
    }

    .why-choose-us-content p {
        width: 480px;
        padding-bottom: 30px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 40%;
        gap: 16px;
    }


    .newsletter-section {
        margin-top: 20px;
        margin-bottom: -80px;
    }

    .newsletter-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .newsletter-column {
        width: 45%;
    }

    .newsletter-title {
        font-size: 35px;
    }

    .newsletter-description {
        width: 330px;
    }

    .newsletter-column hr {
        width: 87%;
    }

    /* Form-1 Styles */
    .form-1 {
        width: 100%;
        padding: 20px 0px;
    }

    .form-1 input[type="text"],
    input[type="email"] {
        width: 82%;
        margin-left: 33px;
    }

    .form-1-btn {
        width: 87%;
        margin-left: 33px;

    }

    .newsletter-offer {
        position: relative;
        top: -160px;
        left: 105px;

    }

    .testimonial-section {
        padding: 50px 0px;
        width: 45%;

    }

    .testimonial-section h2 {
        width: 80%;
        font-size: 20px;
    }


    .testimonial-section p {
        width: 80%;
        margin-left: -280px;
    }


    footer {
        margin-top: 50px;

    }


    footer p {
        width: 35%;
    }


    footer hr {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 35%;

    }

}
